header {
    background-color: black;
    color: #fc6a03;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5vw;
    z-index: 999;
    opacity: 0.85;
    padding: 0 20px;
}

header h1 {
    margin: 0;
    font-size: 1.8vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
  
section {
    height: 5vw;
    background-color: black;
}

.sidebar {
    position: fixed;
    left: -220px; /* Hidden off screen */
    top: 5vw;
    width: 220px;
    height: 100vh;
    background-color: #fc6a03;
    color: black;
    padding: 20px;
    transition: left 0.3s ease;
    z-index: 998;
}

.sidebar.active {
    left: 0; /* Slide in */
}


.sidebar a {
    color: #000000;
    display: block;
    margin: 10px 0;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: #c96924;
}

.container {
    display: inline-block;
    cursor: pointer;
    z-index: 1000;
    position: relative;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #686868;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

body {
    background: #ffffff;
    background: linear-gradient(90deg,rgba(255, 255, 255, 1) 0%, rgba(6, 64, 14, 0.85) 50%, rgba(252, 106, 3, 1) 100%);
}

.testimonial-carousel {
  position: relative;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  text-align: center;
  background: #f9f9f9;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.testimonial {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.testimonial.active {
  display: block;
  opacity: 1;
}

.testimonial p {
  font-size: 1.2rem;
  font-style: italic;
  color: #444;
}

.testimonial h4 {
  margin-top: 10px;
  font-weight: bold;
  color: #222;
}

button.prev,
button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #ddd;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  transition: background 0.3s;
}

button.prev:hover,
button.next:hover {
  background: #bbb;
}

button.prev {
  left: 10px;
}

button.next {
  right: 10px;
}
